.container{
    display: flex;
    
}
.banner{
    width: 1900px;
    height: 809px;
   background-image: url(../images/banner/banner2.png);
   background-repeat: no-repeat;
   
}
.banner-tittel{
   text-align: right; 
   color: #151414;
   margin: 216px 200px 800px 500px;
}
.banner-sub-tittel{
    font-weight: 700;
font-size: 65px;

}
.banner-disc{
    color: #757575;
    font-weight: 400;
font-size: 16px;   
 }

 .btn-primary{
    font-weight: 600;
font-size: 20px;
 background:#FD6E0A ;
 color: #FFFFFF;
 height: 64px;
 border-radius: 5px;
 border: 0;
 padding: 18px 35px;
 }